.post{
    margin-left: 16vw;
    margin-right: 40vw;
}
.post__image{
    background: white;
    object-fit: contain;
    width: 100%;
}
.post__username{
    font-size: 14px;
}
.post__text{
    background-color: white;
    font-weight: normal;
    font-size: 12px;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.post__header{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    width: 100%;
}
.post__avatar{
    margin: 10px;
}
.post__footer{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    /* width: 100%; */
    margin-bottom: 20px;
    min-height: 40px;
    padding-left: 15px;
    border-top: 0;
}
.post__element{
    border: 1px solid lightgray;
    width: 100%;
    border-bottom: 0;
}
.float-right{
    float: right;
}